@import "../node_modules/svelte-material-ui/bare.css";

body {

  &,
  ::before,
  ::after {
    --mdc-theme-primary: #d60000;
    --mdc-theme-surface: rgba($color: #000000, $alpha: 0.1);
    --mdc-theme-on-surface: #d60000;
    --background-color: #fff;
  }

  &.dark-mode,
  ::before,
  ::after {
    --mdc-theme-primary: #d60000;
    --mdc-theme-on-surface: #fff;
    --mdc-theme-text-primary-on-background: #fff;
    --mdc-theme-text-secondary-on-background: #cacaca;
    --mdc-theme-text-hint-on-background: #cacaca;
    --background-color: #424242;
    --mdc-switch-selected-track-color: rgba(from var(--mdc-theme-primary) r g b, 0.5);
  }

  background-color: var(--background-color);
  transition: background-color 0.3s;

  //Tab control
  .mdc-tab {
    .mdc-tab__text-label {
      color: var(--mdc-theme-text-secondary-on-background);
    }

    &--active {
      .mdc-tab__text-label {
        color: var(--mdc-theme-primary);
      }
    }
  }

  //Dialogs
  .mdc-dialog {
    .mdc-dialog__surface {
      background-color: var(--background-color);
    }

    .mdc-dialog__title {
      color: var(--mdc-theme-text-primary-on-background);
    }

    .mdc-dialog__content {
      color: var(--mdc-theme-text-primary-on-background);
    }
  }

  //Text fields
  .mdc-text-field:not(.mdc-text-field--disabled) {

    //Input text color
    .mdc-text-field__input {
      color: var(--mdc-theme-text-primary-on-background);
    }

    //Floating label color
    .mdc-floating-label {
      color: var(--mdc-theme-text-primary-on-background);
    }

    //Input underline color
    .mdc-line-ripple::before {
      border-bottom-color: var(--mdc-theme-text-secondary-on-background);
    }

    //Helper color
    &+.mdc-text-field-helper-line {
      .mdc-text-field-helper-text {
        color: var(--mdc-theme-text-primary-on-background);
      }
    }

    //Control input underline on hover
    &:hover {
      .mdc-line-ripple::before {
        border-bottom-color: var(--mdc-theme-text-secondary-on-background);
      }
    }
  }

  //Lists
  .mdc-deprecated-list {
    .mdc-deprecated-list-item__text {
      color: var(--mdc-theme-text-primary-on-background);
    }
  }
}

:root {
  font-family: "Roboto", sans-serif;
}