@import "../node_modules/svelte-material-ui/bare.css";

body {
  background-color: var(--mdc-theme-surface);
  transition: background-color 0.3s;
  margin: 0;
}

// Dialogs
.mdc-dialog {

  // Dialog background
  .mdc-dialog__surface {
    background-color: var(--background-color);
  }

  // Dialog title
  .mdc-dialog__title {
    color: var(--mdc-theme-text-primary-on-background);
  }

  // Dialog content
  .mdc-dialog__content {
    color: var(--mdc-theme-text-primary-on-background);

    // List padding
    .mdc-deprecated-list:first-child:last-child {
      padding: 0;
    }
  }

  // Dialog close button
  .mdc-icon-button {
    color: var(--mdc-theme-text-primary-on-background);
  }
}

// Text fields
.mdc-text-field,
.smui-autocomplete {
  &:not(.mdc-text-field--disabled) {
    width: -webkit-fill-available;
    box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.2);

    // Input text color
    .mdc-text-field__input {
      color: var(--mdc-theme-text-primary-on-background);
    }

    // Floating label color
    *,
    &.mdc-text-field--focused {
      .mdc-floating-label {
        color: var(--mdc-theme-text-secondary-on-background);

        &--float-above {
          padding: 5px;
          border-radius: 5px;
          background-color: rgba($color: #000000, $alpha: 0.1);
          box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.2);
        }
      }
    }

    // Outline color
    &:hover {
      .mdc-notched-outline {
        .mdc-notched-outline {

          &__leading,
          &__notch,
          &__trailing {
            border: none;
            background-color: rgba($color: #000000, $alpha: 0.1);
          }
        }
      }
    }

    .mdc-notched-outline {
      .mdc-notched-outline {

        &__leading,
        &__notch,
        &__trailing {
          border: none;
          background-color: rgba($color: #000000, $alpha: 0.1);
        }
      }
    }
  }
}

.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) {
  width: -webkit-fill-available;
  box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.2);

  // Input text color
  .mdc-text-field__input {
    color: var(--mdc-theme-text-primary-on-background);
  }

  // Floating label color
  .mdc-floating-label {
    color: var(--mdc-theme-text-secondary-on-background);

    &--float-above {
      padding: 5px;
      border-radius: 5px;
      background-color: rgba($color: #000000, $alpha: 0.1);
      box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.2);
    }
  }

  // Input underline color
  .mdc-line-ripple::before {
    border-bottom-color: var(--mdc-theme-text-secondary-on-background);
  }

  // Control input underline on hover
  &:hover {
    .mdc-line-ripple::before {
      border-bottom-color: var(--mdc-theme-text-secondary-on-background);
    }
  }

  // Helper color
  &+.mdc-text-field-helper-line {
    .mdc-text-field-helper-text {
      color: var(--mdc-theme-text-primary-on-background);
    }
  }

  // Outline color
  &:hover {
    .mdc-notched-outline {
      .mdc-notched-outline {

        &__leading,
        &__notch,
        &__trailing {
          border: none;
          background-color: rgba($color: #000000, $alpha: 0.1);
        }
      }
    }
  }

  .mdc-notched-outline {
    .mdc-notched-outline {

      &__leading,
      &__notch,
      &__trailing {
        border: none;
        background-color: rgba($color: #000000, $alpha: 0.1);
      }
    }
  }
}

// Dropdown item text
*,
.mdc-select__menu {

  *,
  .mdc-deprecated-list {
    .mdc-deprecated-list-item {
      color: var(--mdc-theme-text-primary-on-background);

      &__text {
        color: var(--mdc-theme-text-primary-on-background);
      }
    }
  }
}

// Select control
.mdc-select {
  &:not(.mdc-select--disabled) {
    width: -webkit-fill-available;
    box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.2);

    // Input text color
    .mdc-select__selected-text {
      color: var(--mdc-theme-text-primary-on-background);
    }

    // Floating label color
    *,
    &.mdc-select--focused {
      .mdc-floating-label {
        color: var(--mdc-theme-text-secondary-on-background);

        &--float-above {
          padding: 5px;
          border-radius: 5px;
          background-color: rgba($color: #000000, $alpha: 0.1);
        }
      }
    }

    // Outline color
    &:hover {
      .mdc-notched-outline {
        .mdc-notched-outline {

          &__leading,
          &__notch,
          &__trailing {
            border: none;
            background-color: rgba($color: #000000, $alpha: 0.1);
          }
        }
      }
    }

    .mdc-notched-outline {
      .mdc-notched-outline {

        &__leading,
        &__notch,
        &__trailing {
          border: none;
          background-color: rgba($color: #000000, $alpha: 0.1);
        }
      }
    }
  }
}

.mdc-select:not(.mdc-select--disabled):not(.mdc-select--focused) {
  width: -webkit-fill-available;
  box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.2);

  .mdc-select__anchor {

    // Label color
    *,
    &.mdc-select--focused {
      .mdc-floating-label {
        color: var(--mdc-theme-text-secondary-on-background);
      }
    }

    // Carat icon color
    .mdc-select__dropdown-icon {
      fill: var(--mdc-theme-text-primary-on-background);
    }

    // Content color
    .mdc-select__selected-text {
      color: var(--mdc-theme-text-primary-on-background);
    }

    // Input underline color
    .mdc-line-ripple::before {
      border-bottom-color: var(--mdc-theme-text-secondary-on-background);
    }

    // Control input underline on hover
    &:hover {
      .mdc-line-ripple::before {
        border-bottom-color: var(--mdc-theme-text-secondary-on-background);
      }
    }

    // Outline color
    &:hover {
      .mdc-notched-outline {
        .mdc-notched-outline {

          &__leading,
          &__notch,
          &__trailing {
            border: none;
            background-color: rgba($color: #000000, $alpha: 0.1);
          }
        }
      }
    }

    .mdc-notched-outline {
      .mdc-notched-outline {

        &__leading,
        &__notch,
        &__trailing {
          border: none;
          background-color: rgba($color: #000000, $alpha: 0.1);
        }
      }
    }
  }
}

// Data Table
.mdc-data-table {
  width: -webkit-fill-available;
  border-color: var(--mdc-theme-text-secondary-on-background);

  &__cell {
    color: var(--mdc-theme-text-primary-on-background);
    border-color: var(--mdc-theme-text-secondary-on-background);
  }

  &__header-cell {
    color: var(--mdc-theme-text-secondary-on-background);
    border-color: var(--mdc-theme-text-secondary-on-background);
  }
}

// Drawer
.mdc-drawer {

  // Drawer title
  .mdc-drawer__title {
    color: var(--mdc-theme-text-primary-on-background);
  }

  // Drawer subtitle
  .mdc-drawer__subtitle {
    color: var(--mdc-theme-text-secondary-on-background);
  }
}

:root {
  font-family: "Roboto", sans-serif;
}