@import "../node_modules/svelte-material-ui/bare.css";

body {
  background-color: var(--mdc-theme-surface);
  transition: background-color 0.3s;
}

//Dialogs
.mdc-dialog {

  //Dialog background
  .mdc-dialog__surface {
    background-color: var(--background-color);
  }

  //Dialog title
  .mdc-dialog__title {
    color: var(--mdc-theme-text-primary-on-background);
  }

  //Dialog content
  .mdc-dialog__content {
    color: var(--mdc-theme-text-primary-on-background);
  }

  //Dialog close button
  .mdc-icon-button {
    color: var(--mdc-theme-text-primary-on-background);
  }
}

//Text fields
.mdc-text-field {
  &:not(.mdc-text-field--disabled) {
    width: -webkit-fill-available;

    //Input text color
    .mdc-text-field__input {
      color: var(--mdc-theme-text-primary-on-background);
    }

    //Floating label color
    *,
    &.mdc-text-field--focused {
      .mdc-floating-label {
        color: var(--mdc-theme-text-secondary-on-background);
      }
    }
  }
}

.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) {
  width: -webkit-fill-available;

  //Input text color
  .mdc-text-field__input {
    color: var(--mdc-theme-text-primary-on-background);
  }

  //Floating label color
  .mdc-floating-label {
    color: var(--mdc-theme-text-secondary-on-background);
  }

  //Input underline color
  .mdc-line-ripple::before {
    border-bottom-color: var(--mdc-theme-text-secondary-on-background);
  }

  //Control input underline on hover
  &:hover {
    .mdc-line-ripple::before {
      border-bottom-color: var(--mdc-theme-text-secondary-on-background);
    }
  }

  //Helper color
  &+.mdc-text-field-helper-line {
    .mdc-text-field-helper-text {
      color: var(--mdc-theme-text-primary-on-background);
    }
  }

  //Outline color
  &:hover {
    .mdc-notched-outline {
      .mdc-notched-outline {

        &__leading,
        &__notch,
        &__trailing {

          border-color: var(--mdc-theme-text-secondary-on-background);
        }
      }
    }
  }

  .mdc-notched-outline {
    .mdc-notched-outline {

      &__leading,
      &__notch,
      &__trailing {

        border-color: var(--mdc-theme-text-secondary-on-background);
      }
    }
  }
}

//Select control
.mdc-select {
  &:not(.mdc-select--disabled) {
    width: -webkit-fill-available;

    //Input text color
    .mdc-select__selected-text {
      color: var(--mdc-theme-text-primary-on-background);
    }

    //Floating label color
    *,
    &.mdc-select--focused {
      .mdc-floating-label {
        color: var(--mdc-theme-text-secondary-on-background);
      }
    }

    //Dropdown item text
    .mdc-deprecated-list-item {
      color: var(--mdc-theme-text-primary-on-background);

      .mdc-deprecated-list-item__text {
        color: var(--mdc-theme-text-primary-on-background);
      }
    }
  }
}

.mdc-select:not(.mdc-select--disabled):not(.mdc-select--focused) {
  width: -webkit-fill-available;

  .mdc-select__anchor {

    //Label color
    *,
    &.mdc-select--focused {
      .mdc-floating-label {
        color: var(--mdc-theme-text-secondary-on-background);
      }
    }

    //Carat icon color
    .mdc-select__dropdown-icon {
      fill: var(--mdc-theme-text-primary-on-background);
    }

    //Content color
    .mdc-select__selected-text {
      color: var(--mdc-theme-text-primary-on-background);
    }

    //Input underline color
    .mdc-line-ripple::before {
      border-bottom-color: var(--mdc-theme-text-secondary-on-background);
    }

    //Control input underline on hover
    &:hover {
      .mdc-line-ripple::before {
        border-bottom-color: var(--mdc-theme-text-secondary-on-background);
      }
    }

    //Outline color
    &:hover {
      .mdc-notched-outline {
        .mdc-notched-outline {

          &__leading,
          &__notch,
          &__trailing {

            border-color: var(--mdc-theme-text-secondary-on-background);
          }
        }
      }
    }

    .mdc-notched-outline {
      .mdc-notched-outline {

        &__leading,
        &__notch,
        &__trailing {

          border-color: var(--mdc-theme-text-secondary-on-background);
        }
      }
    }
  }
}

:root {
  font-family: "Roboto", sans-serif;
}